@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>


@*@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Product.ProductId)
    @Html.LabelFor(model => model.Product.ProductName)
    @Html.EditorFor(model => model.Product.ProductName)
    @Html.LabelFor(model => model.Product.ProductDescription)
    @Html.EditorFor(model => model.Product.ProductDescription)
    @Html.LabelFor(model => model.Product.ProductPrice)
    @Html.EditorFor(model => model.Product.ProductPrice)
    <button type="submit">Update</button>
}*@